* {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Contenedores */
  
  .contenedor-principal {
    box-sizing: border-box;
    width: 50vw;
    max-width:600px;
    min-height: 350px;
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.927);
    border-radius: 50px;
  }
  .contenedor-principal, h1{
    display: block;
    margin-top: 40px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
   
  
  .color {
    padding: 20px;
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  label, p { 
    margin: 20px;
  }
  